@media (max-width: 56.25em) {
  .heder-top span {
    display: none;
  }
  .heder-top .heder-city {
    margin-right: 5.43em;
  }
  .heder-top .icon-phone {
    margin: 0;
  }
  .heder-top .messengers a {
    font-size: 0.875rem;
  }
}
@media (max-width: 34.375em) {
  .messengers {
    display: none;
  }
}
@media (max-width: 20em) {
  .heder-top {
    font-size: 0.75rem;
  }
}